@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(-150deg, #2f4858 50%, #fff 15%, #EB9928 35%);
    overflow-y: hidden;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 10px auto;
    /* padding: 0 4%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    /* background-color: #fff; */
}

/*===========nav=============*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 35px; */
}

.logo {
    border-radius: 5px;
    background-color: #EB9928;
    width: 150px;
    padding: 5px;
}

.logo a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.logo a div {
    color: #fff;
    width: 100%;
}

.logo a div span {
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #EB9928;
    font-size: 30px;
    text-transform: uppercase;
    padding: 13px;
    text-shadow: 1px 1px 2px black;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 15px;
    font-size: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #EB9928;
}

@media screen and (max-width: 550px) {
    .logo {
        width: 115px;
    }

    .logo a {
        font-size: 20px;
    }

    .logo a div span {
        font-size: 25px;
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        width: 110px;
    }

    .logo a {
        font-size: 15px;
    }

    .logo a div span {
        font-size: 20px;
        padding: 10px;
    }
}

/*=========nav2============*/
.nav2 {
    display: none;
    color: #fff;
    margin-right: 2%;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .nav2 {
        display: block;
    }
}

/*=========section==========*/
section{
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}
.section__text {
    color: white;
    width: 50%;
    text-align: center;
}
.section__text img {
    border: 10px solid #f1f5f8;
    object-fit: cover;
    width: 150px;
}
.section__text h1 {
    font-size: 5rem;
    margin-top: 10px;
    text-shadow: 3px 0 #2f4858,
        -3px 0 #2f4858,
        0 3px #2f4858,
        0 -3px #2f4858,
        2px 2px #2f4858,
        -2px -2px #2f4858,
        2px -2px #2f4858,
        -2px 2px #2f4858;
}
.section__text p{
    font-size: 20px;
    margin: 3% 15%;
    font-weight: 400;
    /* text-align: center; */
}
.section__text div{
    text-align: center;
}
.section__text div button{
    font-size: 22px;
    color: white;
    border: none;
    background-color: transparent;
    margin-right: 30px;
    font-weight: 300;
}
.section__text div button i{
    font-size: 38px;
    margin-right: 10px;
}
.section__text div button:first-child{
    display: inline-flex;
    align-items: center;
}
.section__text div button:last-child{
    border: 1px solid white;
    border-radius: 50px;
    padding: 20px;
}
.section__text div button:last-child:hover{
    background-color: #2f4858;
    color: #EB9928;
    border: none;
}
.section__img{
    border: 15px solid white;
    object-fit: cover;
    width: 70vh;
    /* position: absolute;
    right: -50px;
    bottom: -40px; */
}
.section__img img{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .section__img{
        margin-right: 30px;
    }
}
@media screen and (max-width: 1075px) {
   .section__text__header {
       font-size: 3.5rem !important;
   }
   .section__text p {
       font-size: 15px !important;
   }
   .section__img{
       margin-right: 30px;
   }
   .section__text div button{
       font-size: 15px !important;
   }
}
@media screen and (max-width: 850px) {
    .section__text__header {
        font-size: 3rem !important;
    }
    .section__text p {
        margin: 3% 5% !important;
    }
    .section__img{
        margin-right: 30px;
        width: 60vh !important;
    }
    .section__text div button{
        font-size: 15px !important;
    }
}
@media screen and (max-width: 770px) {
   .section__text__header {
       font-size: 3rem !important;
   }
   .section__text p {
       margin: 3% 5% !important;
   }
   .section__text div{
       margin-left: 2% !important;
   }
   .section__img{
       margin-right: 30px;
       width: 60vh !important;
   }
   .section__text div button{
       font-size: 13px !important;
   }
}
/* @media screen and (max-width: 740px) {
    section{
        width: 100vw;
        top: -70px;
        left: 25%;
        margin: none !important;
        padding: none !important;
    }
    .section__text {
       width: 100vw;
    }
    .section__text__header {
        font-size: 3rem !important;
    }
    .section__text p {
        font-size: 15px !important;
    }
    .section__img{
        display: none;
    }
    .section__text div button{
        font-size: 15px !important;
    }
} */




